*~
*.o
*/Debug/*
nbproject/*
/Servidor Partida/ServidorPartida
/"Servidor Partida"/ServidorPartida
/Cliente/cliente
/Servidor Torneo/ServidorTorneo
/"Servidor Torneo/ServidorTorneo
/"Servidor Torneo"/configfile
/Servidor Torneo/configfile
